.button-xl {
  padding-left: var(--button-xl-padding-horizontal);;
  padding-right: var(--button-xl-padding-horizontal);;
  min-width: var(--button-xl-height);
  height: var(--button-xl-height);
  font-size: var(--button-xl-font-size);

  &.button-square {
    padding: 0;
    width: var(--button-xl-height);
  }

  &.button-pill {
    border-radius: calc(var(--button-xl-height) / 2);
  }
}

.button-l {
  padding-left: var(--button-l-padding-horizontal);;
  padding-right: var(--button-l-padding-horizontal);;
  min-width: var(--button-l-height);
  height: var(--button-l-height);
  font-size: var(--button-l-font-size);

  &.button-square {
    padding: 0;
    width: var(--button-l-height);
  }

  &.button-pill {
    border-radius: calc(var(--button-l-height) / 2);
  }
}

.button-s {
  padding-left: var(--button-s-padding-horizontal);;
  padding-right: var(--button-s-padding-horizontal);;
  min-width: var(--button-s-height);
  height: var(--button-s-height);
  font-size: var(--button-s-font-size);

  &.button-square {
    padding: 0;
    width: var(--button-s-height);
  }

  &.button-pill {
    border-radius: calc(var(--button-s-height) / 2);
  }
}

.button-xs {
  padding-left: var(--button-xs-padding-horizontal);;
  padding-right: var(--button-xs-padding-horizontal);;
  min-width: var(--button-xs-height);
  height: var(--button-xs-height);
  font-size: var(--button-xs-font-size);

  &.button-square {
    padding: 0;
    width: var(--button-xs-height);
  }

  &.button-pill {
    border-radius: calc(var(--button-xs-height) / 2);
  }
}